<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {
            font-size: small;
            color: red;
        }
    </style>
    <title>Add Art</title>
</head>

<body>
    <a href="/">Art Collection</a>
    <a href="/arts/add">Add New Art</a>
    <a href="/profile">My Profile Page</a>
    <a href="/logout">Logout</a>
    <h1>Add New Art</h1>
    <form action="/arts/add" method="post">
        <label>Art Name:</label><br>
        <input type="text" name="name" value="<%= newArt.name %>"><br>
        <div class="error">
            <% if(errors.name) { %>
                <%= errors.name.join(', ')  %> 
              <%  } %> 
            </div>
        <label>Author:</label><br>
            <input type="text" name="author" value="<%= newArt.author %>"><br>
            <div class="error">
                <% if(errors.author) { %>
                    <%= errors.author.join(' , ')  %> 
              <%  } %> 
            </div>
        <label>Price:</label><br>
            <input type="number" name="price" value="<%= newArt.price %>"><br>
            <div class="error">
                <% if(errors.price) { %>
                    <%= errors.price.join(' , ')  %> 
              <%  } %> 
            </div>
        <label>Description:</label><br>
            <textarea name="description" id="" cols="30" rows="10" placeholder="write your description.."><%= newArt.description %></textarea>
            <div class="error">
                <% if(errors.description) { %>
                    <%= errors.description.join(' , ')  %> 
              <%  } %> 
            </div><br>
        <label>Upload Your Image Art:</label><br>
        <input type="text" name="imageUrl" value="<%= newArt.imageUrl %>">
        <div class="error">
            <% if(errors.imageUrl) { %>
                <%= errors.imageUrl.join(' , ')  %> 
          <%  } %> 
        </div> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>