<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1><%= user.Profile.firstName %>'s Profile</h1>

  <h5>Full Name</h5>
  <p>
    <%= user.Profile.fullName %>
  </p>
  
  <h5>Date of Birth</h5>
  <%= user.Profile.formatDate %>

  <h5>Profile Picture</h5>
  <img src="<%= user.Profile.imagerUrl %>" alt="Profile pic" width="80" height="100">

  <hr>

  <% if(transaction.length > 0) { %>
    <table border="1">
      <tr>
        <th style="max-width: 200px;">Image</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
      </tr>
      <% transaction.forEach(el => { %>
        <tr>
          <td><img src="<%= el.Art.imageUrl %>" alt="photo" width="100" height="50"></td>
          <td><%= el.Art.name %></td>
          <td><%= el.Art.author %></td>
          <td><%= el.Art.price %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</body>
</html>